.calendar {
    background: whitesmoke;
    padding: 15px;
    height: 95vh;
    width: 98vw;
    border-radius: 25px;
    color: black;
}

.calendar .rbc-event {
    color: white;
}

.calendar-div {
    background: grey;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.calendar .rbc-btn-group button:nth-child(1) { 
    display: none;
  }