.btn-primary {
    background-color: #78BCC4;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-primary:hover {
    background-color: #F7444E;
  }
  
  .btn-secondary {
    background-color: #002C3E;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-secondary:hover {
    background-color: #F7444E;
  }
  
  .btn-danger {
    background-color: #F7444E;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 50%;
    margin: 0 auto;
    display: block;
    margin-top: 20px;
  }
  
  .btn-danger:hover {
    background-color: #002C3E;
  }
  